.hero
    @include media-breakpoint-up(desktop)
        .hero-text
            text-align: center
            width: 100%
.blocks
    @include in-page-with-sidebar
        .block-image
            .block-content
                padding-left: 0 !important
                width: 100% !important
                picture
                    margin-right: 0
                    img
                        max-height: none !important
